/* styles.css */
/*body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.project h2, .project p {
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: white;
}
/* Mantieni hover sugli altri link */
/*nav a:not(.search-button):hover {
    opacity: 0.7;
}*/

 /* 6. Responsive Design */
/*@media (max-width: 768px) {
    
    header {
        height: auto;
        padding: 15px;
    }

    .header-bottom-right {
        position: static;
        text-align: left;
        padding-left: 15px;
        margin-top: 20px;
            }
    nav {
        position: static;
        justify-content: center;
        margin-top: 10px;
        gap: 20px;
            }
    
    nav a {
        margin-left: 15px;
        font-size: 1em;
    }
    
    .logo {
        position: static;
        margin-bottom: 15px;
    }

    .header-bottom-right {
        position: static;
        text-align: right;
        margin-top: 10px;
        padding-right: 15px;
    }

    .projects-grid {
        grid-template-columns: 1fr;
        padding: 0 20px;
        gap: 20px;
            }
        }*/
